/* Default: Phones from 0px to 549px */

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Colors */
:root {
  --primary-color: hsl(207, 90%, 36%);
  --secondary-color: hsl(50, 90%, 54%);
  --tertiary-color: hsl(0, 0%, 100%);
  --grey-color: grey;
  --success-color: hsl(117, 36%, 54%);
  --error-color: hsl(358, 72%, 45%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
